aiofiles==0.7.0
asgiref==3.3.4
blis==0.4.1
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
ci-info==0.2.0
click==7.1.2
configobj==5.0.6
configparser==5.0.2
cymem==2.0.5
decorator==4.4.2
Django==3.2.3
etelemetry==0.2.2
filelock==3.0.12
fitz==0.0.1.dev2
frontend==0.0.3
future==0.18.2
h11==0.12.0
httplib2==0.19.1
idna==2.10
isodate==0.6.0
itsdangerous==2.0.0
Jinja2==3.0.0
lxml==4.6.3
MarkupSafe==2.0.0
murmurhash==1.0.5
networkx==2.5.1
nibabel==3.2.1
nipype==1.6.0
numpy==1.20.3
packaging==20.9
pandas==1.2.4
pathlib==1.0.1
pathy==0.5.2
plac==1.1.3
preshed==3.0.5
prov==2.0.0
pydantic==1.7.4
pydot==1.4.2
PyMuPDF==1.17.7
pyparsing==2.4.7
python-dateutil==2.8.1
pytils==0.3
pytz==2021.1
pyxnat==1.4
rdflib==5.0.0
requests==2.25.1
scipy==1.6.3
simplejson==3.17.2
six==1.16.0
smart-open==3.0.0
spacy==2.2.4
spacy-legacy==3.0.5
sqlparse==0.4.1
srsly==1.0.5
starlette==0.14.2
thinc==7.4.0
tools==0.1.9
tqdm==4.60.0
traits==6.2.0
typer==0.3.2
urllib3==1.26.4
uvicorn==0.13.4
wasabi==0.8.2
